@charset "utf-8";

.wrapper { /* 그리드시스템 */
    position: relative; /* postion: absolute의 기준 */
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: skyblue;
}

/*====header====*/

header {
    position: relative;
    width: 1180px;
    height: 1600px;
    background: url(../images/header_image.jpg);
    background-size: cover;
}

/* flex-container */
.flex-container  {
    display: flex;
}
.flex-container > .logo {
    position: absolute;
    left: 510px; top: 40px; 
}
.flex-container > .mainmenu {
    left: 252px; top: 120px;
    font-size: 18px;
    font-family: 'Lucida Console';
}

.mainmenu {
    position: absolute;
    width: 100%;
}
.gnb {
    display: flex;
    height: 220px;
    align-items: center;
}
.gnb > li {
    color:#fff;
    padding-left: 35px;
}
.gnb a {
    width: 1200px;
    color: #fff;
    text-align: center;
}
.gnb a:hover {
    text-decoration: underline;
}
/* 서울대공원 메뉴태그 참고!! */
header .submenu {
    overflow: hidden;   
}
header .submenu  a {
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin: 15px;
}
header .submenu a:hover {
    color: black;
    font-weight: 600;
    height: 150px;
}


/*=====main=====*/

.ourstores {
    background-color: #fff;
}
.ourstores > h2 {
    margin-top: 190px;
    margin-bottom: 58px;
    
    padding-left: 10px;
}
/* sinsa */
.introduce {
    position: relative;
}
.introduce .wrapper {
    display: flex;
}
.introduce .sinsa {
    width: 50%;
}
.introduce .sinsa-txt {
    width: 50%;
    left: 180px; top: 210px;
    text-align: left;
    color: #000;
    padding-top: 158px;
    padding-left: 80px;
}
.introduce .sinsa-txt > p {
    line-height: 2.4;
}
.introduce .sinsa-txt .map-icon {
    position: absolute;
    top: 225px; right: 100px;
}
.introduce .sinsa-txt .phone-icon {
    position: absolute;
    top: 300px; right: 300px;
}
.introduce .icon {
    position: absolute;
    right: 71px;
    bottom: 160px;
}
.introduce .icon > img {
    padding-left: 20px;
}

/* galleria */

.introduce .glleria-txt {
    width: 50%;
    left: 180px; top: 210px;
    text-align: left;
    color: #000;
    line-height: 1.8;
    padding-top: 158px;
    padding-left: 50px;
}
.introduce .glleria-txt > p {
    line-height: 1.8;
}
.introduce .g-icon {
    position: absolute;
    top: 245px; right: 50px;
}
.introduce .g-phone {
    position: absolute;
    top: 305px; right: 330px;
}

/* jeju */
.introduce2 .jeju-txt > strong {
    margin-bottom: 30px;
}
.introduce2 .jeju-txt .jeju-map {
    position: absolute;
    top: 225px; right: 250px;
}
.introduce2 .jeju-txt .jeju-phone {
    position: absolute;
    top:300px; right: 348px;
}
.introduce2 .jeju-txt > p {
    font-size: 16px;
    line-height: 2.4;
}
.introduce2 {
    position: relative;
}
.introduce2 .wrapper {
    display: flex;
}
.introduce2 .jeju {
    width: 50%;
}
.introduce2 .jeju-txt {
    width: 50%;
    left: 180px; top: 210px;
    text-align: left;
    color: #000;
    padding-top: 158px;
    padding-left: 40px;
}
.introduce .jeju-txt > strong {
    margin-bottom: 30px;
}
.introduce .jeju-txt > p {
    font-size: 16px;
}
.introduce2 .icon {
    position: absolute;
    right: 83px;
    bottom: 160px;
}
.introduce2 .icon > img {
    padding-left: 20px;
}

/* youtube */
.play {
    width: 100%;
}
.youtube h1 {
    color:#fff;
    margin-top: 135px;
}
.play .frame {
    margin-left: 50px;
}

/* menu */

.order-list {

}

h2 {
    margin-top: 135px;
    padding-left: 10px;
    margin-bottom: 50px;
    background-color: #fff;
}

.menu-box {
    display: flex;
    height: 1800px;
    background: url(../images/main_background_image.jpg) no-repeat fixed;
    background-size: cover;
}

.menu-box .coffee-drinks {
    width: 400px;
}

.coffee-drinks,
h4 {
    color:#CD2827;
}

.coffee-drinks {
    background: url(../images/main_menu-category.png) no-repeat;
}

.waffle {
    background: url(../images/main_menu-category.png) no-repeat;
}
.set-menu {
    background: url(../images/main_menu-category.png) no-repeat;
}

.bun {
    background: url(../images/main_menu-category.png) no-repeat;
}

.bagueatte {
    background: url(../images/main_menu-category.png) no-repeat;
}

.roll {
    background: url(../images/main_menu-category.png) no-repeat;
}

/* instagram */
.insta4 {
    display: flex;
}

.insta4 > li {
    width: 290px;
}
.insta4 > li:nth-child(3):hover {
    
    opacity: 50%;
}
/*=====footer=====*/