@charset "utf-8";

.wrapper { /* 그리드시스템 */
    position: relative; /* postion: absolute의 기준 */
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: skyblue;
}

/*====header====*/

header {
    position: relative;
    width: 1180px;
    height: 1600px;
    margin: 0 auto;
    background: url(../images/header_image.jpg) no-repeat center top;
    background-size: cover;
    
}

/* flex-container */

.flex-container {
    display: flex;
    justify-content: space-between; /* 수평 정렬 */
    align-items: center;
}

.flex-container > .logo {
    position: absolute;
    left: 510px; top: 40px; 
}
.flex-container > .mainmenu {
    left: 252px; top: 120px;
    font-size: 18px;
    font-family: 'Lucida Console';
}

.mainmenu {
    position: absolute;
    width: 100%;
}
.gnb {
    display: flex;
    height: 220px;
    align-items: center;
}
.gnb > li {
    color:#fff;
    padding-left: 35px;
}
.gnb a {
    width: 1200px;
    color: #fff;
    text-align: center;
}
.gnb a:hover {
    text-decoration: underline;
}
/* 서울대공원 메뉴태그 참고!! */
header .submenu {
    display: none;
    position: absolute; 
    height: 150px;
    top: 100px; left: 0; right: 0; 
    z-index: 9999; 
}
header .submenu  a {
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin: 15px;
}
header .submenu a:hover {
    color: black;
    font-weight: 600;
    height: 150px;
}


/*=====main=====*/

.our-stores {
    display: flex;
}

.our-introduce > h2 {
    margin-top: 135px;
    margin-bottom: 50px;
    padding: 30px 0 30px 0;
    background-color: #fff;
}

.sinsa-img {
    width: 50%;
}

.sinsa-txt {
    width: 50%;
    left: 180px; top: 210px;
    text-align: left;
    color: #000;
    padding-top: 158px;
    padding-left: 80px;
}

.sinsa-txt > p {
    line-height: 2.4;
}

.sinsa-txt .map-icon {
    position: absolute;
    top: 368px; right: 100px;
}
.sinsa-txt .phone-icon {
    position: absolute;
    top: 445px; right: 300px;
}

.icon {
    position: absolute;
    right: 71px;
    bottom: 160px;
}
.icon > img {
    padding-left: 20px;
}

/* css order */
.our-jeju {
    display: flex;
}

.jeju-box {
    width: 100%;
}


.jeju-txt {
    left: 180px; top: 210px;
    text-align: left;
    color: #000;
    padding-top: 158px;
    padding-left: 40px;
}

.jeju-txt .jeju-map {
    position: absolute;
    top: 974px; left: 328px; 
}

.jeju-txt .jeju-phone {
    position: absolute;
    top: 1050px; left: 235px;
} 
.jeju-txt > p {
    font-size: 16px;
    line-height: 2.4;
}

.jeju-txt > strong {
    margin-bottom: 30px;
}

.jeju-txt > h3 {
    padding-top: 10px;
}

/* galleria */    
.our-gall {
    display: flex;
}

.glleria-txt {
    width: 50%;
    left: 180px; top: 210px;
    text-align: left;
    color: #000;
    line-height: 1.8;
    padding-top: 158px;
    padding-left: 50px;
}
.glleria-txt > p {
    line-height: 1.8;
}
.g-icon {
    position: absolute;
    top: 1575px; right: 50px;
}
.g-phone {
    position: absolute;
    top: 1630px; right: 330px;
}


/* youtube */
.play {
    width: 100%;
}
.youtube h1 {
    color:#fff;
    margin-top: 135px;
}
.play .frame {
    margin-left: 50px;
}

/* menu */

.order-list {
    display: flex;
}

.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 10px 10px;
    margin-bottom: 112px;
    height: 1800px;
    background: url(../images/main_background_image.jpg) no-repeat fixed;
    background-size: cover;
}

h2 {
    margin-top: 135px;
    margin-bottom: 50px;
    padding: 30px 0 30px 0;
    background-color: #fff;
}

.menu-box .coffee-drinks {
    width: 400px;
}

.coffee-drinks,
.waffle-list,
.set-menu,
.bun,
h4 {
    color:#CD2827;
    font-size:28px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
}

.coffee-drinks {
    background-image: url(../images/menu-category1.png);
    background-position: 50px 0;
    background-repeat: no-repeat;
}

.coffee-drinks-list > li {
    padding-top: 18px;
    text-shadow: 2px 2px 2px pink;
}
.coffee-drinks-list strong {
    font-size: 22px;
}
.coffee-drinks-list p {
    font-size: 20px;
    font-weight: 300;
}

.waffle {
    background: url(../images/menu-category1.png) no-repeat;
    background-position: 50px 0;
    background-repeat: no-repeat;
}

.waffle > h4 {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.waffle-list > li {
    color:#CD2827;
    text-shadow: 2px 2px 2px pink;
}

.waffle-list strong {
    font-size: 22px;
}

.waffle-list p {
    font-size: 20px;
    font-weight: 300;
}

.set-menu {
    background: url(../images/menu-category1.png) no-repeat;
    background-position: 50px 0;
    background-repeat: no-repeat;
}

.set-menu > h4 {
    padding-top: 50px;
    padding-bottom: 80px;
}

.set-menu-list > li {
    color:#CD2827;
    padding-top: 10px;
    padding-left: 40px;
    text-shadow: 2px 2px 2px pink;
}

.set-menu-list strong {
    font-size: 22px;
}

.set-menu-list p {
    font-size: 20px;
    font-weight: 300;
}

.bun {
    background: url(../images/menu-category1.png) no-repeat;
    background-position: 50px 0;
    background-repeat: no-repeat;
}

.bun-list > li {
    color:#CD2827;
    padding-top: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px pink;
}

.bun-list strong {
    font-size: 22px;
}

.bun-list p {
    font-size: 20px;
    font-weight: 300;
}

.bagueatte {
    background: url(../images/menu-category1.png) no-repeat;
    background-position: 50px 0;
    background-repeat: no-repeat;
}

.bagueatte > h4 {
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.baguatte-list > li {
    color:#CD2827;
    padding-top: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px pink;
}

.baguatte-list strong {
    font-size: 22px;
}

.baguatte-list p {
    font-size: 20px;
    font-weight: 300;
}

.roll {
    background: url(../images/menu-category1.png) no-repeat;
    background-position: 50px 0;
    background-repeat: no-repeat;
}

.roll > h4 {
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.roll-list > li {
    color:#CD2827;
    padding-top: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px pink;
}

.roll-list strong {
    font-size: 22px;
}

.roll-list p {
    font-size: 20px;
    font-weight: 300;
}

/* review */

.review {
    margin: 0 auto;
}

.customer-box { 
    width: 100%;
    height: 1020px;
}

.customer {
    width: 1020px;
    height: 280px;
    align-items: center;
    padding-left: 100px;
    display: grid;
    grid-gap: 30px 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "a a";
}

.customer1,
.customer2,
.customer3,
.customer4,
.customer5 {
    position: relative;
    margin: 50px auto;
    width: 240px; height: 275px;
    overflow: hidden;
}

.customer2:nth-child(1) {
    order: 2;
}

.customer2:nth-child(2) {
    order: 1;
}

.customer4:nth-child(1) {
    order: 2;
}

.customer4:nth-child(2) {
    order: 1;
}

.customer2 .customer-txt {
    width: 700px;
    height: 210px;
    background: url(../images/review_box2.png) no-repeat;
}


.inbox {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 275px;
}

.inbox > img {
    width: 100%;
}

.inbox:hover {
    transform: scale(1.2);
}

.customer-txt {
    color: #CD2827;
    font-size: 20px;
    text-align: justify;
    width: 700px;
    height: 210px;
    background: url(../images/review_box.png) no-repeat; 
}

.customer-txt > img {
    position: absolute;
}

.customer-txt > p {
    position: absolute;
    width: 640px;
    padding-left: 63px;
    padding-top: 20px;
}

.customer-txt > .star1 {
    position: absolute;
    top: 355px;
    padding-left: 450px;
}

.customer-txt > .star2 {
    position: absolute;
    top: 640px;
    padding-left: 425px;
}

.customer-txt > .star3 {
    position: absolute;
    top: 920px;
    padding-left: 450px;
}

.hidden-review {
    display: none;
    position: absolute; 
    height: 150px;
    top: 100px; left: 0; right: 0; 
    z-index: 9999;
}

.btn {
    position: absolute;
    left: 50%; bottom:1%;
    transform: translate(-50%,-50%);
    width: 250px; height: 80px;
    line-height: 80px;
    border: 2px solid #CD2827;
    font-size: 40px;
    color:#CD2827;
    cursor: pointer;
    background: #fff /* 버튼 배경색 제거 */
}

.btn::before {
    position: absolute;
    left: 35%; bottom:1%;
    content: '+';
    width: 0%; height: 100%;
    transition: width 0.5s;
}

.btn:hover::before {
    width: 100%;
}

.btn > .more {
    color:#CD2827;
    position: absolute;
    left: 0%; top:0;
    width: 100%; /* span 가로크기 주면 가운데 정렬 됨. */
    opacity: 0;
    transition: opacity 0.5s;
}

/*펼치기 넣어야함*/
.btn  a {
    color:#CD2827;
    z-index: 1;
}

.btn > .more:hover {
    color:#CD2827;
    font-weight: 600;
    opacity: 1;
    transition-delay: 0.2s;
}

/* instagram */

.sns {
    position: relative;
}

.insta-box {
    position: absolute;
    top:30px; left: 170px;
    width: 222px;
    height: 40px;
    border: 2px solid #0593a1;
    border-radius: 100px 100px 100px 100px;
}

.sns p > a {
    color: #0593a1;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}

.sns p > a:hover {
    color: aqua;
}

.insta4 {
    display: flex;
}

.insta4 img {
    width: 275px; height: 275px;
    margin-right: 26.6px;
}
.insta4 a:hover {
    opacity: 50%;
}

.insta-icon {
    position: absolute;
    top: 70%; left: 58%;
}

.insta-icon > span {
    color: white;
}


/*=====footer=====*/

.business-co-guide a:hover {
    text-decoration: underline;
}
.business-co-guide a {
    color:#0593a1;
    font-weight: 600;
}

h5 { 
    font-size: 16px;
    padding-top: 190px;
}

.business-info {
    font-size: 14px;
    padding: 30px 10px 40px 70px;
}
.co-business-info {
    font-size: 14px;
    text-align: right;
    padding-right: 50px;
}
.user-guide {
    font-size: 14px;
    text-align: right;
    padding-top: 90px;
    padding-right: 50px;
}
.foot-bottom {
    text-align: center;
    padding-top: 100px;
}


.fix-menu {
    position: fixed;
    right: 50px;
    bottom: 100px;
}
.fix-menu li > a {
    color:#000;
    font-weight: 600;
    line-height: 100px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0 10px 0;
    border: 1px solid #000;
    background-color: #fff;
}
.fix-menu a:hover {
    text-decoration: underline;
}


